{% extends "base.html"%}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit black">
        <h1>AKAD Broadcasting</h1>
        <p>Company Tagline</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Company History</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis purus magna. Duis mattis interdum nibh eu cursus. Nullam iaculis suscipit scelerisque.</p>
        </div>
        <div class="span4">
          <h2>Olympic History</h2>
          <p>Donec scelerisque mattis neque, in aliquam quam scelerisque ut. Quisque laoreet rhoncus enim, vel viverra risus fermentum a.</p>
       </div>
        <div class="span4">
          <h2>London 2012</h2>
          <p>Morbi dignissim malesuada est, in sollicitudin arcu faucibus nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div>
{% endblock%}
