{% extends "base.html"%}
{% block content %}
<div id="content">
  <h2>{{ video.title }}</h2>
  <hr>
    <div id="video">
      <iframe class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ video.videoLocation }}?wmode=opaque" frameborder="0"></iframe>

    <p>{{ video.description }}</p>
    <hr>
    {% for comment  in video.comment_set.all%}
      <p>
        <b>{{ comment.title }}</b> by <b>{{ comment.author }}</b> at {{ comment.uploadTime }}
        <p>{{ comment.content }}</p>
      </p>
      {% endfor%}
        <hr>
    </div>
</div>
{% endblock%}