{% extends "base.html"%}
{% block content %}
<div id="content">
  {% if error %}
    <div class="alert alert-error">{{ error }}</div>
  {% endif %}
  <h2>{{ video.name }}</h2>
  <hr>
    <div id="video">
      <iframe class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ video.videoLocation }}?wmode=opaque" frameborder="0"></iframe>

    <p>{{ video.description }}</p>
    <div class="ratings"><img src="{{ STATIC_URL}}assets/img/thumbs_up.png" class="rating_up" /><img src="{{ STATIC_URL}}assets/img/thumbs_down.png" class="rating_down" /><p>{{ video.rating }}</p></div>
    <div style="clear:both"></div>
    <hr>
    {% for comment  in video.comment_set.all%}
      <p>
        <b>{{ comment.title }}</b> by <b>{{ comment.author }}</b> at {{ comment.uploadTime }}
        <p>{{ comment.content }}</p>
      </p>
      {% endfor%}
        <hr>
        {% if user.is_authenticated %}
        <h3>Add a Comment</h3>
        <form action="/videos/{{ video.name }}/comments" method="post">
            <label for="title"><input type="text" placeholder="Title" name="Title" /></label>
            <label for="comment"><textarea name="Comment" rows="8" cols="40" style="width:643px"></textarea></label>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock%}
