<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sample Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}/assets/js/modal.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
    $(function() {
      $('.modal').hide();
      
       $('.close_modal').click(function(evt) {
        $(evt.target).parent().parent().modal('hide');
      });
      
      $('.login_trigger').click(function() {
        $('#loginModal').modal('toggle');
        return false;
      });
      
      $('.submit_login_form').click(function() {
        $('#loginForm').submit();
      });
     });
     

    </script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">AKAD</a>
          <div class="nav-collapse">
            <form class="navbar-search pull-right" action="/search/" method="post">
                {% csrf_token %}
                <input type="text" class="search-query span2" placeholder="Search Videos" name="search" />
            </form>
            {% load tags%}
            <ul class="nav">
              <li class="{% active "^/$" %}"><a href="/">Home</a></li>
              <li class="{% active "Athletics" %}"><a href="/sport/Athletics">Athletics</a></li>
              <li class="{% active "Cycling" %}"><a href="/sport/Cycling">Cycling</a></li>
              <li class="{% active "Diving" %}"><a href="/sport/Diving">Diving</a></li>
              <li class="{% active "Rowing" %}"><a href="/sport/Rowing">Rowing</a></li>
              <li class="{% active "Swimming" %}"><a href="/sport/Swimming">Swimming</a></li>
              <li class="{% active "Hockey" %}"><a href="/sport/Hockey">Hockey</a></li>
              {% if not user.is_authenticated %}
              <li><a href="/register">Register</a></li>
              <li><a  class="login_trigger" href="#">Login</a></li>
              {% else %}
                <li><a href="/logout?next={{ request.get_full_path }}">Logout</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
    {% block content %}{% endblock%}
    <hr>
    <footer>
        <p>&copy; AKAD Broadcasting 2012</p>
      </footer>

    </div> <!-- /container -->
    
    <!--modal login box-->
    <div class="modal" id="loginModal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Login</h3>
      </div>
      <div class="modal-body">
        <form action="/login/?next={{ request.get_full_path }}" method="post" id="loginForm">
          <label for="Username">Username: <input type="text" placeholder="Username" name="Username" /></label>
          <label for="Password">Password: <input type="password" placeholder="Password" name="Password" /></label>
          {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn close_modal">Close</a>
        <a href="#" class="btn btn-primary submit_login_form">Submit</a>
      </div>
    </div>
    
    
  </body>
</html>
