{% extends 'base.html' %}
{%block content%}
<div id="content">

{% if error %}
    <div class="alert alert-error"><p>{{ error }}</p></div>
{%endif%}
<h1>Login</h1>
</div>
<div>
    <form action="/register/" method="post">
        <label for="Username">Username: <input type="text" placeholder="Username" name="Username"  /></label>
        <label for="Email">Email: <input type="text" placeholder="Email" name="Email" /></label>
        <label for="Password">Password: <input type="password" placeholder="Password" name="Password" /></label>
        <label for="Confirm_Password">Confirm Password: <input type="password" placeholder="Password" name="Confirm_Password" /></label>
        {% csrf_token%}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
